services:
  pg:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bingo
    ports: ["5432:5432"]
  mongo:
    image: mongo:7
    ports: ["27017:27017"]